.about{
	.block{
		
		h2{
			padding-top: 35px;
			margin:0;
		}
		p{
			padding-top: 30px;
			line-height:35px;
		}
		img{
			width: 120%;
			height: 120%
		}
	}
	.about-img {
		overflow:hidden;
		&:hover img {
			transform: scale3D(1.1,1.1,1);
		}
		img {
			opacity: .6;
			@include transition (all, 0.5s, ease-out);
		}
	}
	.section-title {
		margin-bottom: 0px;
	}
}
