$light: #fff;
$primary-color:  #2ec8aa ;
$secondary-color:  #2ec8aa ;
$success:  #2ec8aa ;
$black: #000;
$alert:#c7254e;
$border-color:#dedede;
$primary-font:'Roboto', sans-serif;
$secondary-font:'Volkhov', serif;
$icon-font: 'themefisher-font';
